<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación Web con Python - Flask</h1>
        <nav>
            <ul>
                                
                <!-- Enlaces a los formularios, sin desplegable -->
                <li><a href="{{ url_for('inscripcion') }}">Inscripción en Curso</a></li>
                <li><a href="{{url_for('registro_usuario')}}">Registro de Usuario</a></li>
                <li><a href="{{ url_for('registro_productos') }}">Registro de Productos</a></li>
                <li><a href="{{ url_for('registro_libros') }}">Registro de Libros</a></li>

                <!-- Menú desplegable para ver los datos -->
                <li class="dropdown">
                    <a href="#" class="dropbtn">Ver Datos Registrados</a>
                    <div class="dropdown-content">
                        <a href="{{url_for('rec_dat_inscripcion')}}">Ver Inscripciones</a>
                        <a href="{{url_for('rec_dat_regUsuario')}}">Ver Usuarios</a>
                        <a href="{{url_for('rec_dat_regProductos')}}">Ver Productos</a>
                        <a href="{{url_for('rec_dat_regLibros')}}">Ver Libros</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Seleccione una opción del menú</h2>
    </main>
    
</body>
<footer>
    <p>&copy; 2024 Aplicación Web Flask - Autor Nelro</p>
</footer>
</html>
