<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Inscripción</title>
    <link rel="stylesheet" href="../static/css/style_post.css">
</head>
<body>
    <header>
        <h1>CONFIRMACION DE INSCRIPCIONES</h1>
    </header>

    <main>
        <h3>Registros de Inscripción:</h3>

        <!-- Tabla para mostrar los registros -->
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>
                
                {% for item in registros_ins %}
                    <tr>
                        <td>{{ loop.index0 + 1 }}</td> <!-- Mostrar el índice -->
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellidos }}</td>
                        <td>{{ item.curso }}</td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>

        <button class="centered-btn" onclick="window.location.href='/'">Volver al Menu</button>
    </main>
</body>
</html>
